.pers_cab a.sell, .pers_cab a.rent {
    width: 100%;
}
div.link_sell_rent.pers_cab{ margin-top: 0;}
a.yelow_line, span.yelow_line{ display: block; width: 100%; text-align: right; font-size: 12px; font-style: italic; background: #fecc00; padding: 5px 0; margin-top: 2px;}
a.yelow_line span, span.yelow_line span{padding-right: 10px;}
span.yelow_line a{ display: inline-block; font-size: 11px; text-decoration: none; font-weight: bold;}
span.yelow_line a.active, span.yelow_line a:hover{ text-decoration: underline;}

#load-icon{ background: url(/templates/stp_person_cab/img/loading11.gif); width: 220px; height: 19px; position: absolute; left: 40%;}
#left_block{ width: 98%;}
div.line3{ width: 100%;}

div.ads_panel_edit{height: 20px; width: 100%; border-bottom: 1px dotted; margin: 0px 0; padding-bottom: 10px;}

div.list_ads tr.empty td{ padding-left: 0; padding-right: 0; text-align: left;}

#content .ads_panel_edit a, #content .ads_panel_edit{color:#414042; font-style: italic; font-size: 12px;}
#content .ads_panel_edit a.up{text-decoration:none;}
#content .ads_panel_edit a.up span, #content .ads_panel_edit a{text-decoration: underline;}
#content .ads_panel_edit img.up, img.icon{ position: relative; top:2px; left: -2px;}

.green{ color: #009900;}
.red{ color: #990000;}

div.system_message{ padding-bottom: 0px; padding-top: 0;}
div.system_message .inner{ padding: 4px 0 10px 0;}

#header{margin-bottom: 6px;}

.amount_lk{font-size: 24px; font-style: italic; font-weight: bold; text-align: center; display: inline-block; width: 100%; margin: 5px 0;}

#right_block .amount_table a{display: inline-block; font-size: 11px; font-style: italic;}

.amount_table span.link{ position: relative; top:-5px;}