.t_form_add_ads{ margin: auto;}
.t_form_add_ads, .t_form_add_ads input{ font-size: 11px;}
.img_cont{ width: 185px; margin-right: 60px;}
.t_form_add_ads input[type="text"], .t_form_add_ads select{ width: 247px; height: 12px;}
.t_form_add_ads select{ height: 18px; font-size: 11px; width: 251px; font-style: italic;}
.t_form_add_ads textarea{ font-size: 11px; width: 245px; height: 48px;}
.form_add_ads{ text-align: right; width: 384px; display: block;}
.form_add_ads label{ padding-right: 15px;}
.block_in{ margin-bottom: 5px; position: relative;}
.block_in.left{ text-align: left; padding-left: 50px;}
.block_in.year select{ width: 76px;}
.block_in.cost input{ width: 76px;}
.block_in.moto input{width: 76px;}
.block_in.moto{ padding-left: 27px;}
.block_in.cost { padding-left: 88px;}
.block_in.cost1 { padding-left: 39px;}
.block_in.cost2 { padding-left: 53px;}
.block_in.comment label{ position: absolute; top:0; left: 45px;}
div.left{ text-align: left; padding-left: 125px; margin-bottom: 5px;}
.form_add_ads hr{ border: 0; border-bottom: 1px dashed; width: 249px; float: right; }
#content .block_in a{ margin-left: 10px; color:#000; font-size: 11px; font-style: italic; text-decoration: underline;}
#content .block_in a:hover{ text-decoration: none;}
.block_in.submit{ text-align: left; margin-top: 10px; padding-left: 50px;}
.block_in.hide{ display: none;}

#files li.main{ width: 183px; min-height: 154px; display: block;  border: 1px dashed; padding: 0;}
#files li{ position: relative;}
#content #files{ padding: 0;}
#files li.main img{ width: 144px; margin: 20px auto; display: block;}
#content #files li{ list-style: none; background: #ebecec;}
#files li.small{ width: 81px; height: 70px; display: block;  padding: 0; float: left; margin-top: 18px;}
#files li.small.right{ float: right;}
#files li.small img{ width: 48px; height: 52px; margin: 8px auto; display: block; cursor: pointer;}
#content #files li.small.no_photo{ background: #ebecec url(/templates/stp_person_cab/img/no-foto.jpg) center no-repeat;}

#files li a.del{ position: absolute; bottom: 0; left: 60px; color: #000;}
#files li.small a.del{ font-size: 9px; left: 20px; bottom: -2px;}
#files li a.del:hover{ background: #000; color: #fff;}

.form_add_ads input.red, .form_add_ads select.red{ border: 1px dashed red;}

