<div class="list">
<table width="100%" cellpadding="0" cellspacing="0" class="t_list_add" style="position: relative; top:-19px">
    <tr class="fon"><td colspan="9"><div class="line2"></div></td></tr>
    <tr class="head">
        <td class="photo" width="77"><?=CLIST_MOTO_PHOTO?></td>
        <td><span class="text" onclick="jQuery(this).parent().find('.arrow_sort').click();"><?=CLIST_MOTO_CITY?></span> <span class="inner"><span class="arrow_sort" type="city" direct="ASC" <?=$OnClick?>></span></span></td>
        <td><span class="text" onclick="jQuery(this).parent().find('.arrow_sort').click();"><?=CLIST_MOTO_CATEGORY?> </span><span class="inner"><span class="arrow_sort" type="category" direct="ASC" <?=$OnClick?>></span></span></td>
        <td width="110"><span class="text" onclick="jQuery(this).parent().find('.arrow_sort').click();"><?=CLIST_MOTO_PRODUCER?> </span><span class="inner"><span class="arrow_sort" type="producer" direct="ASC" <?=$OnClick?>></span></span></td>
        <td width="90"><span class="text" onclick="jQuery(this).parent().find('.arrow_sort').click();"><?=CLIST_MOTO_MODEL?> </span><span class="inner"><span class="arrow_sort" type="model" direct="ASC" <?=$OnClick?>></span></span></td>
        <td width="42"><span class="text" onclick="jQuery(this).parent().find('.arrow_sort').click();"><?=CLIST_MOTO_YEAR?> </span><span class="inner"><span class="arrow_sort" type="year" direct="ASC" <?=$OnClick?>></span></span></td>
        <td width="90"><span class="text" onclick="jQuery(this).parent().find('.arrow_sort').click();"><?=$label_probeg?> </span><span class="inner"><span class="arrow_sort" type="hour" direct="ASC" <?=$OnClick?>></span></span></td>
        <?php if ($type != 'rent'){?>
            <td class="last" width="110"><span class="text" onclick="jQuery(this).parent().find('.arrow_sort').click();"><?=CLIST_MOTO_COST?></span> <span class="inner"><span class="arrow_sort" type="moto_cost" direct="ASC" <?=$OnClick?>></span></span><span class="last"></span></td>
        <?php }else {?>
            <td width="110"><span class="text" onclick="jQuery(this).parent().find('.arrow_sort').click();"><?=CLIST_MOTO_COST_RENT_1?></span> <span class="inner"><span class="arrow_sort" type="moto_cost1" direct="ASC" <?=$OnClick?>></span></span></td>
            <td class="last" width="110"><span class="text" onclick="jQuery(this).parent().find('.arrow_sort').click();"><?=CLIST_MOTO_COST_RENT_2?></span> <span class="inner"><span class="arrow_sort" type="moto_cost2" direct="ASC" <?=$OnClick?>></span></span><span class="last"></span></td>
        <?php }?>
    </tr>
    
    <?php $i = 0; foreach ($rows as $row){
        //$small_img = $ads_manage->add_uniq_prefix_image($row['images'],THUMB_PREFIX);
        $small_img = $ads_manage->get_exist_thumb_image($row['images']);
        if ($row['images']=='[]' || $row['images']=='' || ($small_img && !file_exists(UPLOAD_DIR . $small_img)))
           $row['images'] = '<img src="/templates/stp_person_cab/img/no-foto.jpg"/>';
        else   
           $row['images'] = '<img src="/images/com_ads/' . $small_img . '" width="68" />';  
        
        if ($row['ad_state']==0 || $row['ad_motohour']==0)
            $row['ad_motohour']=NEW_ITEM_LABEL;   
        $url = /*JRoute::_('index.php?option=com_adsmanager&Itemid=138&ads_id='.$row['id'].'&view=list');*/$sef->set_ads($row['id'])->get_sef_url();   
        
        $dates = $ads_manage->get_dates($row['id']);
        //$prod_info = isset($row['ad_producers']) ? $category->get_producer_info($row['ad_producers']) : false;
        
        if ($ads_manage->ads_is_selled($row['published']))
            $selled_class = 'selled ';
        else
            $selled_class = '';    
        
    ?>
    
    <tr class="empty"><td colspan="8"></td></tr>
    <tr onclick="location.href='<?=$url?>'" class="<?php echo $selled_class; if ($i==0){?>second<?php }?> body <?php if ($ads_manage->is_select_expaired($dates)){?> active<?php }?>">
        <td class="photo"  height="57"><a href="<?=$url?>" ><?php echo $row['images']?></a></td>
        <td><i><?php echo $city->get_city_by_id($row['ad_city'])?></i></td>
        <td><i><?php echo $row['namecategory']?></i></td>
        <td><i class="uppercase"><?php echo $category->get_producer_by_id($row['ad_producers'])?></i></td>
        <td><i><?php echo $row['ad_model']?></i></td>
        <td><strong><?php echo ($row['ad_state'] == 0 || $row['ad_year'] == 0) ? '--' : $row['ad_year']  ?></strong></td>
        <td><i><?php echo !is_numeric($row['ad_motohour']) ? $row['ad_motohour'] : str_replace(',',' ',number_format($row['ad_motohour']))?></i></td>
        <?php if ($type != 'rent'){?>
            <td><i><strong><?php echo $row['ad_price'] ? str_replace(',',' ',number_format($row['ad_price'])).' Руб' : '--'?> </strong></i></td>
        <?php }else {?>
            <td><i><strong><?php echo $row['ad_price_2'] ? str_replace(',',' ',number_format($row['ad_price_2'])).' Руб' : '--'?></strong></i></td>
            <td><i><strong><?php echo $row['ad_price_1'] ? str_replace(',',' ',number_format($row['ad_price_1'])).' Руб' : '--'?></strong></i></td>
    </tr>
    <?php }?>
    <?php $i++;}?>
</table>
 
</div>

<!--<div class="ajax_loader"><img src="\templates\beez_20\img\ajax-loader.gif" /></div>-->

