<div class="header"><span class="h"><?=$ads_manage->head?></span></div>
<div align="right" class="info_top_corner">

№ <?php printf("%05d",$ads_id);?> / <?=date("d M Y",strtotime($ads_manage->date_created))?> / Просмотров: <?=$hits?></div>
<div >
<table class="s_add" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" width="183">
            <div class="img_cont">
               		<ul id="files" >
                            <li class="<?php if ($thumb_images[0]==''){?>no_photo<?php }?> main"><?=$thumb_images[0]?></li>
                            <?php for($i=1; $i<count($thumb_images); $i++){?>
                                <li class="<?php if ($thumb_images[$i]==''){?>no_photo<?php }?> small <?php if ($i%2==0){?>right<?php }?>"><?=$thumb_images[$i]?></li>
                            <?php }?>
                    </ul>
            </div>
        </td>
        <td valign="top" class="left" align="left">
            
                <table class="info" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="right" width="140"></td><td class="right"><h1><?=$ads_manage->head?></h1></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">Категория:</td><td class="right"><?=$cat_info[0]['name']?></td>
                    </tr>
                    <tr>    
                        <td align="right" valign="top">Производитель:</td><td class="right producer"><?=$prod_info[0]['producer']?></td>
                    </tr>
                    <tr>    
                        <td align="right" valign="top">Модель:</td><td class="right"><?=$ads_manage->model?></td>
                    </tr>
                    <?php if ($ads_manage->state == '1'){ // б/у?>
                    <tr>    
                        <td align="right" valign="top">Год выпуска:</td><td class="right"><?php echo $ads_manage->year  ?></td>
                    </tr>
                                       
                    <tr>    
                        <td align="right"><?php echo ($razdel_id != CAT_ID_TRASPORT) ? WHAT_WORK_HOUR_LABEL : WHAT_WORK_HOUR_TRANSPORT_LABEL?></td>
                        <td class="right"><?=str_replace(',',' ',number_format($ads_manage->moto_hour))?></td>
                    </tr>
                    <?php } else{?>
                    <tr>    
                        <td align="right" valign="top">Год выпуска:</td><td class="right">--</td>
                    </tr>
                    <tr>    
                        <td align="right" valign="top"><?php echo ($razdel_id != CAT_ID_TRASPORT) ? WHAT_WORK_HOUR_LABEL : WHAT_WORK_HOUR_TRANSPORT_LABEL?></td>
                        <td class="right">Новая</td>
                    </tr>
                    <?php }?>
                    <tr>    
                        <td align="right" valign="top">Место нахождения:</td><td class="right">г. <?=$cities->get_city_by_id($ads_manage->city)?></td>
                    </tr>
                    <?php if ($ads_manage->ad_kindof == 'продам'){?>
                    <tr>    
                        <td align="right" valign="top"><h1 style="margin-top: 8px;">Цена:</h1></td><td class="right"><h1 style="margin-top: 8px;"><?=$ads_manage->cost1 ? str_replace(',',' ',number_format($ads_manage->cost1)).'Руб' : 'По договоренности'?> </h1></td>
                    </tr>
                    <?php }else{?>
                    <tr>    
                        <td align="right" valign="top"><h1 style="margin-top: 8px;">Цена за час:</h1></td><td class="right"><h1 style="margin-top: 8px;"><?=$ads_manage->cost_hour ? str_replace(',',' ',number_format($ads_manage->cost_hour)).'Руб' : 'По договоренности'?> </h1></td>
                    </tr>
                    <tr>    
                        <td align="right" valign="top"><h1>Цена за смену:</h1></td><td class="right"><h1><?=$ads_manage->cost_smena ? str_replace(',',' ',number_format($ads_manage->cost_smena)).'Руб' : 'По договоренности'?> </h1></td>
                    </tr>
                    <?php }?>
                    <tr>    
                        <td></td><td><div class="hr"></div></td>
                    </tr>
                    <tr>    
                        <td align="right" valign="top">Комментарий:</td><td class="right"><?=str_replace(PHP_EOL,'<br/>',$ads_manage->comment)?> </td>
                    </tr>
                    <tr>    
                        <td align="right" valign="top">Статус объявления:</td>
                        <td class="right">
                            <?php if($ads_manage->ads_is_selled($ads_manage->status)){?>
                                <span style="color:#cc0033; font-style: normal;">ПРОДАНО</span>
                            <?php } else {?>
                            <strong> Активно / <?=date("d.m.Y",strtotime($ads_manage->date_created))?> / </strong>
                            <?php }?> 
                         </td>   
                    </tr>
                    <tr>    
                        <td></td><td><div class="hr"></div></td>
                    </tr>
                    
                    <?php if($ads_user->fio){?>
                    <tr>    
                        <td align="right" valign="top">Контактное лицо:</td><td class="right"><?=$ads_user->fio?> </td>
                    </tr>
                    <?php }?>
                    <tr>    
                        <td align="right" valign="top">Адрес:</td><td class="right">г. <?=$cities->get_city_by_id($ads_user->ad_city)?> </td>
                    </tr>
                    <tr>    
                        <td align="right" valign="top">Телефон:</td><td class="right"> <?=$ads_user->ad_phone?> </td>
                    </tr>
                    <?php if($ads_user->email2){?>
                    <tr>    
                        <td align="right" valign="top">E-mail:</td><td class="right"> <?=$ads_user->email2?> </td>
                    </tr>
                    <?php }?>
                    <?php if ($ads_user->type_user){?>
                    <tr>    
                        <td align="right" valign="top">Название компании:</td><td class="right"> <strong><?=$ads_user->company_name?> </strong></td>
                    </tr>
                    
                    <tr>    
                        <td align="right" valign="top">Описание компании:</td><td class="right"> <?=$ads_user->descript?> </td>
                    </tr>
                    <tr>    
                        <td align="right" valign="top">Предоставляемые бренды:</td><td class="right"> <?=$ads_user->brands?> </td>
                    </tr>
                    <?php }?>
                </table>
                <div align="right" class="all_ads" ><a href="<?=JRoute::_(SINGLE_ADS)?>?u_id=<?=$ads_manage->user_id?>">Посмотреть все объявления пользователя</a> »</div>
        </td>
    </tr>
</table>

</div>

<style type="text/css">
    td.producer{
        text-transform: uppercase;
    }
</style>