.t_form_add_ads{ margin: auto;}
.t_form_add_ads, .t_form_add_ads input{ font-size: 13px;}
.img_cont{ width: 185px; margin-right: 60px;}
.form_add_profile input[type="text"], .form_add_profile input[type="password"]{ width: 184px; height: 18px; border: 1px solid #e0e0e0; padding: 0 5px;}
.form_add_profile td.right input[type="text"], .form_add_profile td.right input[type="password"]{ width: 250px; }
.form_add_profile select{ height: 20px; font-size: 13px; width: 194px; font-style: italic; border: 1px solid #e0e0e0;}
.form_add_profile select[name="specialization[]"]{height: auto;}
.form_add_profile textarea{ font-size: 13px; width: 190px; height: 68px; border: 1px solid #e0e0e0;}
.form_add_profile td.right textarea{ width: 256px;}
.block_in{ margin-bottom: 5px; position: relative;}
div.left{ text-align: left; padding-left: 125px; margin-bottom: 5px;}
.form_add_profile hr{ border: 0; border-bottom: 1px dashed; width: 249px; float: right; }
#content .block_in a{ margin-left: 10px; color:#000; font-size: 13px; font-style: italic; text-decoration: underline;}
#content .block_in a:hover{ text-decoration: none;}
.block_in.submit{ text-align: left; margin-top: 10px; padding-left: 50px;}
.block_in.hide{ display: none;}
.form_add_profile input.red, .form_add_ads select.red{ border: 1px dashed red;}
span.red{ color: red; font-weight: bold; font-size: 15px; margin-right: 3px; position: relative; top:3px;}
input.red, select.red, textarea.red{ border:1px dashed red;}

.form_add_profile label{ margin-right: 5px;}
.form_add_profile .head{font: bold italic 16px 'Trebuchet';}
.form_add_profile td.avatar input[type="text"]{ width: 103px;}
select[name="region"]{ font-weight: bold;}
textarea[name="descript"]{ height: 94px;}

#avatar_img{position: relative;}
#avatar_img img{position: absolute; left: -80px; top:-10px}
input[name="ad_avatar"]{display: none;}
#upload{
background: #fecc00;
border: 0;
height: 22px;
color: #414042;
font-size: 12px;
text-transform: uppercase;
font-weight: bold;
line-height: 22px;
font-style: italic;
}