<?php
// по умолчанию Новосибирск
if (!isset($_COOKIE['spt_portal_city'])){
    if (isset($_SESSION['city_data']['city_id']))
        $_COOKIE['spt_portal_city'] = $_SESSION['city_data']['city_id'];
    else
        $_COOKIE['spt_portal_city'] = 2012;
}
   


if ($_COOKIE['spt_portal_city']*1 == $_COOKIE['spt_portal_city'])
    $city->set_city($_COOKIE['spt_portal_city']);
else    
    $city->set_region($_COOKIE['spt_portal_city']);    

?>
<div class="select_city"><i>Город:</i>&nbsp; <?php echo $city->get_select_list_cities();?> &nbsp;<a href="#" style="font-size: 14px;">Все города</a></div>
<div id="mask1"></div> 
<div class="window_select_city" style="display:none;">
    <div class="top_panel">
        <table width='100%'>
            <tr>
                <td><span class="head">Выбор города</span></td>
                <td align="right">
                    <span class="search_word_window"><input type="text" value="Название города" onblur="if (this.value=='') this.value='Название города';" onfocus="if (this.value=='Название города') this.value='';" /><span></span></span>
                </td>
            </tr>
        </table>
    </div> 
    <table width="100%" height="470" cellpadding="0" cellspacing="0" class="t2">
        <tr>
            <td width="33%" valign="top">
                <span class="all_rf">Россия</span>
                <span class="fokrug">Федеральный округ</span>
                <span class="okrug_li"><?=$city->get_list_okrug();?></span>
            </td>
            <td width="33%" valign="top">
                <div class="region_list">
                    
                </div>
            </td>
            <td valign="top">
                <div class="city_list">
                    
                </div>
            </td>
        </tr>
    </table>
    <span class="close"><img src="/templates/beez_20/img/close-btn.gif"/></span>
</div>

<script>   
    jQuery('.select_city select').change(function(){
        var city = jQuery(this).val();
        var region = jQuery('.select_city select option:selected').prevAll('option.region:first').val();
        var okrug = jQuery('.select_city select option:selected').prevAll('option.region:first').attr('okrug');
        jQuery.cookie('spt_portal_city', city, { expires: 7, path: '/' });   
        jQuery.cookie('spt_portal_okrug', okrug, { expires: 7, path: '/' }); 
        jQuery.cookie('spt_portal_region', region, { expires: 7, path: '/' });
        window.location.href = window.location.href;
       

    });
    
    jQuery(".okrug_li li").click(function(){ // при выборе округа подгружаем список регионов
            jQuery(".okrug_li li").removeClass('selected');
            jQuery(this).addClass('selected');  
            jQuery.get("/modules/mod_add_ads/upload/get_list_region.php?okrug="+encodeURIComponent(jQuery(this).attr('val')), function(response){ // запрос на список городов по региону
                response = response.split('##');
                if(response[0]==="success"){ // успех
                   jQuery(".window_select_city .region_list").html(response[1]);
                   jQuery(".window_select_city .city_list").html('');
                   
                   
                   jQuery("div.region_list li").on('click',function(){ // при выборе региона подгружаем список городов этого региона
                        jQuery(".window_select_city .region_list li").removeClass('selected');
                        jQuery(this).addClass('selected');
                        jQuery.get("/modules/mod_add_ads/upload/get_list_city.php?region="+encodeURIComponent(jQuery(this).html()), function(response){ // запрос на список городов по региону
                            response = response.split('##');
                            
                            if(response[0]==="success"){ // успех
                               res = response[1].replace(/option/g,'li');
                               jQuery(".window_select_city .city_list").html('<ul>'+res+'</ul>');
                               jQuery(".window_select_city .city_list li[value='Все города']").hide();
                               
                               jQuery(".window_select_city .city_list li").on('click',function(){ // при выборе города запоминаем кукис
                                    jQuery(this).addClass('selected');
                                    city   = jQuery(this).attr('value');
                                    okrug  = jQuery('.okrug_li li.selected').attr('val');
                                    region = jQuery('div.region_list li.selected').html();
                                    
                                    jQuery.cookie('spt_portal_city', city, { expires: 7, path: '/' }); 
                                    jQuery.cookie('spt_portal_okrug', okrug, { expires: 7, path: '/' }); 
                                    jQuery.cookie('spt_portal_region', region, { expires: 7, path: '/' }); 
                                    window.location.href = window.location.href;
                                    
                               });
                               jQuery(".window_select_city .city_list li[value='"+jQuery.cookie('spt_portal_city')+"']").addClass('selected');
                            } 

                        });
                  });
                  if (!jQuery.cookie('spt_portal_region'))
                    jQuery(".window_select_city .region_list li:first").click();
                  else
                    jQuery(".window_select_city .region_list li:contains('"+jQuery.cookie('spt_portal_region')+"')").click();  
                }

            });
   
        });
        
        jQuery(document).ready(function(){
           if (!jQuery.cookie('spt_portal_okrug')) 
             jQuery(".okrug_li li:first").click();  
           else
             jQuery(".okrug_li li[val='"+jQuery.cookie('spt_portal_okrug')+"']").click();   
        });
  
        jQuery('.window_select_city .close, #mask1').click(function(){
            jQuery('.window_select_city').hide();
            hide_mask_and_window_1();
        });
        
        jQuery('.search_word_window span').click(function(){            
              jQuery('.search_word_window input').val('Название города');
        });
        
        function show_mask_and_window_1(){
            //var id = jQuery(this).attr('href');
            var maskHeight = jQuery(document).height();
            var maskWidth = jQuery(window).width();
            jQuery('#mask1').css({'width':maskWidth,'height':maskHeight});
            jQuery('#mask1').fadeIn(500);
            jQuery('#mask1').fadeTo(500,0.4);
            var winH = jQuery(window).height();
            var winW = jQuery(window).width();
            jQuery('div.window_select_city').css('left', winW/2-jQuery('div.window_select_city').width()/2);
            jQuery('div.window_select_city').fadeIn(500);


        }
        
        function hide_mask_and_window_1(){
            jQuery('#mask1').hide();
            jQuery('div.window_select_city').hide();
        }
        
        jQuery('.select_city a').click(function(){
            show_mask_and_window_1();
            return false;
        });
        
        jQuery(document).ready(function(){
            
        
        jQuery('span.search_word_window input[type="text"]').focus(function () {
                    var cache = {},
                    lastXhr;
                    jQuery(this).autocomplete({
                       minLength: 3,
                       source: function( request, response ) {
                          var term = request.term;
                          if ( term in cache ) {
                             response( cache[ term ] );
                             return;
                          }
                          
                          lastXhr = jQuery.get( "/modules/mod_add_ads/upload/get_city_and_region_dynamic.php?callback=?", request, function( data, status, xhr ) {
                             
                              cache[ term ] = data;
                             if ( xhr === lastXhr ) {
                                response( data );
                             }
                             
                          });
                           
                       },
                       select: function( event, ui ) {
 
                          arr = ui.item.id.split('##');
                          jQuery.cookie('spt_portal_city', arr[0], { expires: 7, path: '/' }); 
                          jQuery.cookie('spt_portal_okrug', arr[2], { expires: 7, path: '/' }); 
                          jQuery.cookie('spt_portal_region', arr[1], { expires: 7, path: '/' }); 
                          window.location.href = window.location.href;
                      }
                    });
                 
            });
            });
        

</script>

<style type="text/css">
    div.window_select_city{
        width: 958px;
        min-height: 538px;
        background: #fff;
        position: fixed;
        top: 50px;
        z-index: 100;
    }
    
    div.window_select_city div.top_panel{
        width:100%;
        height: 70px;
        border-bottom: 1px solid #bebebe; 
    }
    
    .window_select_city table.t2 td:first-child{
        border-right:1px solid #bebebe;
    }
    
    .window_select_city table.t2 td:last-child{
        border-left:1px solid #bebebe;
    }
    .window_select_city table.t2 td{
        padding: 30px 0 0 20px;
    }
    
    .window_select_city ul, .window_select_city li{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .window_select_city li{
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 10px;
        display: block;
        min-width: 150px;
        padding: 0 15px 0 10px;
        position: relative;
        float:left;
        clear: both;
    }
    
    .window_select_city li:hover, .window_select_city li.selected{
        cursor:pointer;
        background: url(/templates/beez_20/img/arrow-li.gif) repeat-x;
    }
    
    .window_select_city li:hover:after, .window_select_city li.selected:after{
        content: '';
        display: block;
        position: absolute;
        right:0;
        top:0;
        height: 26px;
        width: 11px;
        background: url(/templates/beez_20/img/arrow-li-finish.gif) no-repeat;
    }
    
    .fokrug{
        color: #ffcb00;
        font-size: 16px;
        font-weight: bold;
        margin-left: 10px;
        padding-bottom:10px;
        display: inline-block;
    }
    
    .all_rf{
      margin-bottom:20px;
      margin-left: 10px;
      display: block;
      font-size: 16px;
      padding-left: 30px;
      background: url(/templates/beez_20/img/rf.gif) no-repeat left top;
      
     }
     
     .window_select_city .head{
        font-size: 24px; 
        font-weight: bold;
        padding: 0;
        display: inline-block;
        margin-top: 17px;
        margin-left: 25px;
     }
     
     .window_select_city .region_list, .window_select_city .city_list{
         height: 400px;
         overflow-y: auto;
     }
     
     .window_select_city .close{
         position: absolute;
         top:10px;
         right: 10px;
         cursor:pointer;
     }
     
     .search_word_window{
         margin-right: 76px;
         margin-top: 17px;
         display: inline-block;
         height: 30px;
         position: relative;
     }
     
     .search_word_window input{
         height: 24px;
         width: 310px;
         background: url(/templates/beez_20/img/lupa.gif) no-repeat 5px 2px;
         border: 1px solid #ccc;
         padding-left: 30px;
         padding-right: 10px;
         font-size: 11px;
         font-style: italic;
         
     }
     
     .search_word_window span{
         width: 30px;
         height: 28px;
         background: #ffcc01 url(/templates/beez_20/img/close-btn2.gif) no-repeat 8px 5px;
         display: inline-block;
         position: absolute;
         right:-29px;
         cursor: pointer;
         
     }
     
     #mask1{
        position: absolute;
        left: 0;
        top: -5px;
        z-index: 80;
        background-color: #000;
        display: none;
        font-family: Georgia;
     }
</style>    