body, html{margin:0; padding:0; font: 12px "Trebuchet", Arial; color:#414042; position: relative;}
ul{margin: 0; padding: 0;}
.middle_block{
    font-size: 13px;
}
body.article .item-page ul{
    margin-left: 19px;
}
h1, #content h1 a{ font-size: 24px;}
h2, #content h2 a{ font-size: 22px; color:#ffcc00;}
h3, #content h3 a{ font-size: 20px;}
a { color:#414042; }
a img{ border: 0;}
input[type="submit"]:hover, button[type="submit"]:hover, input[type="reset"]:hover{cursor: pointer;}
input[type="submit"], input[type="reset"]{ background: #434242; color: #fff; height: 20px; border: 1px solid #434242; font-size: 12px; font-style: italic;}
#wrapper{ margin:auto; max-width:1242px; min-width:1024px;}

#header{ padding-top: 0px;}
#header .menu_top_1{ float: right; margin-right: 0px;}
#header .menu_top_1 li{ list-style: none; display: inline-block; margin-left: 3px;}
#header .menu_top_1 li a{ font-size: 13px; font-weight: bold; color: #414042; background: #fecc00; display: block; height: 22px;}
#header .menu_top_1 li a{ text-transform: uppercase; text-decoration: none; padding: 0 7px 0 7px; line-height: 23px;}
#header .menu_top_1 li a:hover, #header .menu_top_1 li.active a{ color: #fecc00; background: #414042;}
div.head_panel{ height: 22px; margin-bottom: 2px; margin-top: 5px;}

.style_top_1{ font-style: italic;}
div.select_city{ margin-left: 0px; position: relative; bottom: 2px; float: left; height: 24px;}
div.select_city .block_in { display: inline-block;}
div.select_city a{ font-size: 14px;}

div.user_panel{ width: 100%; background: url(./img/plashka_1.jpg); height: 51px; margin-top: 0px; clear: both; position: relative;}
div.user_panel div.logo{ font-size: 30.5px; font-weight: bold; color:#414042; line-height: 15px; position: relative; top:11px; margin-left: 25px; height: 39px;}
div.user_panel div.logo span.text{ font-size: 10px; font-weight: normal; text-transform: uppercase; line-height: 29px;}
div.user_panel div.logo span.bull{ font-size: 37px; position: relative; top:3px;}
div.user_panel a.logo{ text-decoration: none; float: left;}

div.user_info{ float: right; margin-right: 26px; font-style: italic; font-size: 15px;}
div.user_info span.welcome{ margin-top: 8px; display: block; text-align: right; font-size: 15px;}

br.clear{ clear: both;}

span.welcome, div.login_form{ float: right;}
span.welcome{ margin-right: 13px;}
div.login_form{ padding-top: 8px;   position: relative;}
div.login_form input{ width: 76px; height: 18px; padding: 0 5px 0 5px; margin-right: 10px; border: 1px solid #e4c761; font-size: 11px; line-height: 5px;}
div.login_form input[type="submit"]{ width: auto; background: #434242; color: #fff; font-weight: bold; height: 20px;}
div.login_form span.reg{font-size: 11px; color:#414042; padding: 2px 0 0 5px; display: block;}

#header .banners{ margin-top: 6px; width: 100%; position: relative;}
#header .banners .inner{overflow: hidden; width: 100%;}
#header .banners img.right{ float: right;}

div.breadcrumbs a{ font-size: 12px; color:#fff; font-family: Arial; font-weight: bold;}
div.breadcrumbs { font-size: 12px; color:#fff; font-family: Arial; font-weight: bold; position: relative; top:1px; left: 10px; display: inline-block; }
div.breadcrumbs div.breadcrumbs{ padding: 0;}

div.search_panel{ width: 100%;}
div.search_panel div.header{ background: url(./img/plashka_2.png); height: 19px; width: 100%; line-height: 16px; }
div.search_panel div.header span{
    position: relative;
    top:0px;
}
div.search_panel div.header span.h{ color: #fff; font-size: 12px; font-weight: bold; margin-left: 28px; line-height: 19px; background: url(img/arrow1.png) no-repeat left; padding-left: 12px; float: left;}
div.search_panel a.add_advert{ float: right; color:#fff; text-decoration: none; font-size: 13px; font-weight: bold; height: 19px; display: block; line-height: 20px;
margin-right: 12px; background: red; 
}

div.search_panel span.type_search{float: right;   margin-right: 20px; position: relative; top:2px;}
div.search_panel span.type_search, div.search_panel span.type_search a{ color: #fff; font-size: 11px; font-style: italic;}
div.search_panel a.add_advert > span{ display: block; height: 100%; background: url(./img/arrow2-right.png) no-repeat 7px 6px; padding: 0 7px 0 15px;}
div.search_panel a.add_advert > span > span{display: block; height: 100%; background: url(./img/arrow2-left.png) no-repeat right 6px; padding-right: 7px; }

div.search_panel select, div.search_panel input[type="text"]{ font-size: 11px; margin: 0; margin-right: 13px; border: 1px solid #e3c65f;}
div.search_panel input[type="text"]{ padding: 0 5px; height: 16px;}
div.new_old input[type="checkbox"]{ margin: 0; width: 9px; height: 9px; border: 1px solid #e3c65f;}

div.search_panel .search_region select{ min-width: 220px;}
div.search_panel .search_city{ min-width: 170px;}
div.search_panel .search_category_1 select{min-width: 212px;}
div.search_panel .search_sub_category select{min-width: 257px;}
div.search_panel div.block2 select[name="search_producer"]{min-width: 180px; margin-right: 86px;}
div.search_panel div.block2 input[name="search_model"]{min-width: 168px; margin-right: 86px;}
div.search_panel div.block2 select[name="year_max"]{margin-right: 223px;}
.only_photo{ position: absolute; top:4px; right: -2px;}

div.link_sell_rent{ margin-top: 2px; height: 19px;}
a.sell, a.rent{ width: 100%;  display: block; float: left; height: 19px;  text-decoration: none; font-weight: bold; font-size: 13px; line-height: 19px;}
a.sell span, a.rent span{margin: 0 18px 0 18px;}
a.sell{ background: #434242; color:#fecc00; text-align: right; margin-right: 2px;}
a.rent{ background: #434242; color:#fecc00;}
a.sell.active, a.rent.active, a.sell:hover, a.rent:hover{background: #fecc00; color: #434242;}

div.search_panel div.search{ width: 100%; height: 76px; background: #fecc00; margin-top: 2px; padding-top: 10px;}
div.search_panel div.search > div{ padding: 11px 0 0 28px;}
div.search_panel div.search div.block1, div.search_panel div.search div.block2{ margin: auto; width: 1024px;}

div.search_panel div.search div input[type="submit"]{height: 18px; position: absolute; top:0px; right: 0; line-height: 16px;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
select[name=search_producer], select[name=category], select[name=subcategory], select[name=producer]{ text-transform: uppercase;}

div.search_panel input[name="search_price_1"], div.search_panel input[name="search_price_2"]{ width: 52px; margin-left: 5px;}
div.search_panel div.block2 input[name="search_price_2"]{margin-right: 83px;}
div.search_panel input[type="text"], div.search_panel select{ font-size: 11px; border: 1px solid #e3c65f;}
div.search_panel div.search div.block1, div.search_panel div.search div.block2 { font-size: 11px; position: relative; margin-bottom: 5px;}

div.new_old{display: inline-block; text-align: right; }


div.search_panel div.search div.block2 span.motohour{ margin-left: 27px;}

div.new_old.comp_foto{ position: absolute; right: -2px; top:4px;}

div.line{ width: 100%; height: 6px; background: #434242;}

div.system_message{ color: #cc0000; font-size: 14px; font-style: italic; padding: 2px 0 4px 10px; padding-top: 30px;}

div.system_message .item:first-child {margin-top: 20px;}

#left_block{ float: left; width: 98%;}

div.middle_block div.header{ background: url(./img/plashka_2.png); height: 19px; width: 100%; }
div.middle_block div.header span.h a, div.middle_block div.header span.h{ color: #fff; font-size: 12px; font-weight: bold; margin-left: 28px; line-height: 19px; background: url(./img/arrow1.png) no-repeat left; padding-left: 12px; float: left;}
div.middle_block div.header span.h a{ background: none; padding: 0; margin: 0;}
#right_block {width: 199px; float: right;}
#right_block div.header {display: block !important;}

div.all_top { width: 100%; position: relative; padding-top: 30px; padding-bottom: 20px;}

div.all_top a.up{ position: absolute; background: url(./img/arrow3-up.png); width: 79px; height: 17px; top: 4px; display: none; left:47%;}
div.all_top a.down{ position: absolute; background: url(./img/arrow3-down.png); width: 79px; height: 17px; bottom: 4px; display: none; left:47%; z-index: 20;}
div.all_top a.up:hover{background: url(./img/arrow3-up-active.png);}
div.all_top a.down:hover{background: url(./img/arrow3-down-active.png);}

div.all_top div.item{ width: 160px; height: 233px; background: #ebecec; border: 1px dashed #646463; margin-bottom: 8px; padding: 8px 9px 0 9px; position: relative;}
div.all_top div.item.item4{ margin: 0;}

div.all_top div.item.item1{ margin: auto; display: inline-block; text-align: left; margin-bottom: 2px;}
div.all_top div.item img.nophoto{margin-top: 30px;}
div.all_top div.item:hover{cursor: pointer;}
div.all_top div.descr{ width: 146px; background: #fecc00; height: 96px; }
div.all_top div.descr{ font-weight: bold; font-style: italic; padding: 5px 8px 0 8px; font-size: 11px; position: absolute; bottom: 8px;}
div.all_top div.descr .cost{ font-size: 13px;}
div.all_top div.descr .right{ float: right; display: inline-block; margin-top: 2px;}
div.all_top div.descr .city{ text-align: center; font-weight: normal; display: inline-block; width: 100%;}
div.all_top div.descr a.link{ text-align: center; width: 100%; font-size: 12px; font-style: normal; margin-top: 5px;}
div.all_top span.category{text-align: center; display: inline-block; width: 144px; position: absolute; bottom: 8px;}

#right_block a{ margin-top: 8px; display: block;}
#right_block div.bottom{ background: url(img/plashka_3.png); width: 100%; height: 19px; margin-top: 18px;}

div.list_ads{ width: 100%;}
div.list_ads tr.head td{color:#fff; font-size: 13px; background: url(img/line.png) left no-repeat; height: 19px; z-index: 2; position: relative;}
div.list_ads tr.head td.last span.last{background: url(img/line.png) right no-repeat; height: 19px; width: 2px; display: block; position: absolute; top:0; right: 0;}
div.list_ads tr.head td.last{ position: relative;}
div.list_ads td{ padding: 0 7px 0 7px;  text-align: center; font-size: 13px; background: #ebecec url(img/line2.png) left no-repeat; }
div.list_ads table.category_list td{ background: none;}
a:hover{text-decoration: none;}
div.list_ads tr.body:hover td{background: #fff383 url(img/line2.png) left no-repeat;}
div.list_ads tr.body.active td{background: #fecc00 url(img/line2.png) left no-repeat;}
div.list_ads tr.body.active:hover td{background: #fff383 url(img/line2.png) left no-repeat;}
div.list_ads td.photo, tr.head td.photo{ padding: 0;}
div.list_ads td.photo img{ margin: 0; padding: 0; display: block; width: 77px; height: 57px;}
div.list_ads td.photo{width: 68px;}
div.list_ads tr.empty td{ padding-top: 8px; background: none;}
div.list_ads tr.line td{background: none; padding: 1px 0 1px 0; position: relative;}
div.list_ads tr.line td hr{ display: block; height: 1px; border: 0; background: url(img/line3.png); width: 763px; position: absolute; left:-2px; top:-3px;}
div.line2{background: #434242; height: 19px; position: relative; width: 100%; top:19px}
div.list_ads tr.fon td {padding: 0; background: 0;}
div.list_ads tr.body:hover{cursor:pointer;}
div.list_ads div.pagination{ margin: 10px auto; text-align: center;}

div.list_ads div.pagination a{ font-size: 14px; font-style: italic; margin-left: 10px; text-decoration: none; }
div.list_ads div.pagination a.cur{ text-decoration: underline; font-weight: bold; font-size: 18px; cursor: default;}
div.list_ads div.pagination a.prev, div.list_ads div.pagination a.next{font-size: 12px;} 
div.line3{background: url(./img/plashka_3.png); width: 100%; height: 19px;}
#content, #content a{ font-size: 14px; color: #414042;}
#content a{ color: #ffcc00; text-decoration: none;}
#content a:hover{text-decoration: underline;}
#content li{ list-style: none; background: url(./img/arrow-li.png) left 6px no-repeat; padding-left: 13px;}
#content ul{padding-left: 5px;}

#footer{ width: 100%; min-height: 51px; background: url(./img/plashka_2.jpg) top repeat-x; margin-top: 10px; padding-bottom: 10px;}
#footer div.menu{ text-align: center; height: 51px; padding-top: 17px;}
#footer div.menu li{list-style: none; display: inline-block; margin-right: 8px;}
#footer div.menu li:after{ content: "  |";}
#footer div.menu li a, #footer div.menu li{ color: #fff; font-size: 12px; text-transform: uppercase; text-decoration: none;}
#footer div.menu li{font-size: 10px;}
#footer div.menu li a{ margin-right: 5px; padding-top: 5px; position: relative; top:2px;}
#footer div.menu li.active a{ text-decoration: underline;}
#footer div.menu li.item-131:after{ content: none;}

#footer .info{ font-size: 8px; font-style: italic;}
option.region div{ font-weight: bold !important; font-style: italic;}
.edit-icon{ display: none;}

#system-message > .warning > ul, #system-message > .message > ul{ background: none; border: 0; margin: 0; padding: 0;}
.system_message .message{ color: blue;}
#system-message > dd > ul > li { padding: 0; }
#system-message{ margin: 0;}
#system-message dd{text-indent:19px}

#content button[type=submit], .moduletable button[type=submit], .moduletable button[type=reset]{margin-top: 10px;}
fieldset {border: 0;}
#user-registration dd, #user-registration dl, #user-registration fieldset{ margin: 0; padding: 0;}

div.block_in.left{ display: inline;}
#content div.list_ads div.pagination a{ color: #414042;}
.select_city select{ font-size: 12px;}
ul.razdel li{display: inline-block;

display: inline-block;
position: relative;
text-align: center;
vertical-align: top;
margin-left: 8px;
}
ul.razdel{width:100%; text-align: justify; padding: 0; height: 40px;}
ul.razdel>li:first-child {
margin-left: 0px;
}

ul.razdel .justify-helper {
width: 100%;
height: 0;
visibility: hidden;
display: inline-block;
}

ul.razdel a{height: 33px; display: inline-block;}
ul.razdel a.transtech {width: 134px; background: url(./img/transport-tech.png);}
ul.razdel a.transtech.active,  ul.razdel a.transtech:hover{background: url(./img/transport-tech-active.png);}

ul.razdel a.selhoztech {width: 164px; background: url(./img/selhoz-tech.png);}
ul.razdel a.selhoztech.active,  ul.razdel a.selhoztech:hover{background: url(./img/selhoz-tech-active.png);}

ul.razdel a.spectech {width: 155px; background: url(./img/spec-tech.png);}
ul.razdel a.spectech.active,  ul.razdel a.spectech:hover{background: url(./img/spec-tech-active.png);}

ul.razdel a.kommtech {width: 184px; background: url(./img/kommun-tech.png);}
ul.razdel a.kommtech.active,  ul.razdel a.kommtech:hover{background: url(./img/kommun-tech-active.png);}

ul.razdel a.skladtech {width: 190px; background: url(./img/sklad-tech.png);}
ul.razdel a.skladtech.active,  ul.razdel a.skladtech:hover{background: url(./img/sklad-tech-active.png);}

ul.razdel a.all {width: 139px; background: url(./img/all-tech.png);}
ul.razdel a.all.active,  ul.razdel a.all:hover{background: url(./img/all-tech-active.png);}

tr.head span.inner{ position: relative;}
span.arrow_sort{width: 6px; height: 4px; display: inline-block;  position: absolute; top:7px; right: -10px; cursor: pointer;}
span.arrow_sort[direct="ASC"]{ background: url(./img/arrow4-down.png) no-repeat right; }
span.arrow_sort[direct="DESC"]{ background: url(./img/arrow4-up.png) no-repeat right;}

td .text{cursor: pointer;}

.banneritem object{}
#header .bannergroup{
    text-align: center;
}
#header .banneritem{ display: inline-block; margin-right: 15px;}

.banneritem{text-align: center;}

#right_block .bannergroup{margin-top: 10px;}
.uppercase{ text-transform: uppercase;}

#comments-form-send , #comments-form-cancel {
    background: #fecc00 !important;
    border: 0;
    padding: 2px 5px;
    font-style: italic;
    display: inline-block;
    position: relative;
    left:30px;
}

span.captcha_cont{
    display: inline-block;
    position: relative;
    left:50px;
}

a.link_yelow{
    background: #ffcc01;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 4px  10px 4px 10px;
    font-size: 14px;
    height: 17px;
    font-style: italic;
}

table.tstyle1 tr:first-child td, table.tstyle1 th td{
    background: #404040;
    color: #fff;
    
}

table.tstyle2 tr:first-child td, table.tstyle2 th td{
    background: #404040;
    color: #fff;
    
}

table.tstyle3 tr:first-child td{
    background: #404040;
    color: #fff;
    
}

table.tstyle1, table.tstyle2{
    border-spacing: 0px;
    border-collapse: separate;
    margin: 10px;
}

table.tstyle1 tr td, table.tstyle2 tr td{
  border-bottom: 1px solid #c5c5c5; 
  padding: 15px 18px;
  font-size: 12px;
  font-weight: bold;
}

table.tstyle1 tr td:last-child{
    background: #e8e8e8;    
}

table.tstyle2 tr td:last-child{
    background: #dadada;    
}

table.tstyle1 tr td.prelast{
    background: #f5f5f5;    
}

table.tstyle3 tr td.last4{
    background: #f5f5f5;    
}

table.tstyle2 tr td.prelast{
    background: #e8e8e8;    
}

table.tstyle2 tr td.last3{
    background: #f5f5f5;    
}

table.tstyle1 tr:first-child td:last-child{
    background: #404040;    
}

table.tstyle2 tr:first-child td:last-child{
    background: #404040;    
}

table.tstyle1 tr:first-child td.prelast{
    background: #404040;    
}

table.tstyle2 tr:first-child td.prelast{
    background: #404040;    
}

table.tstyle2 tr:first-child td.last3{
    background: #404040;    
}

table.tstyle3 tr:first-child td.last4{
    background: #404040;    
}

table.tstyle1 p, table.tstyle2 p, table.tstyle3 p{
    margin: 0;
}

.button_y, input[type="submit"].button_y, input[type="reset"].button_y, .login .button{
   background: #fecc00;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    color: #414042;
    height: 22px;
    text-transform: uppercase;
    line-height: 22px; 
}

.button_g, input[type="submit"].button_g, input[type="reset"].button_g{ 
    color: #fff; 
    height: 22px; 
    font-size: 12px; 
    height: 22px;
    text-transform: uppercase;
    line-height: 22px; 
    border: 0;
    font-size: 12px;
    font-weight: bold;
}

div.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 200;
    top:0;
    left:0;
    background: url(/templates/beez_20/img/load.gif) no-repeat 50% 50%;
    display: none;
    
}
div.loading > div{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.2; /* Полупрозрачный фон */
    filter: alpha(Opacity=20); /* Прозрачность в IE */
    background: #000;
    z-index: 250;
}