.item-page p{margin: 0;}
#files li.main{ width: 183px; min-height: 154px; display: block;  border: 1px dashed; padding: 0;}
#files li{ position: relative;}
#content #files{ padding: 0;}
#files li.main img{ width: 144px; margin: 20px auto; display: block;}
#content #files li{ list-style: none; background: #ebecec;}
#files li.small{ width: 81px; height: 70px; display: block;  padding: 0; float: left; margin-top: 18px;}
#files li.small.right{ float: right;}
#files li.small img{ max-width: 165px; height: 52px; margin: 8px auto; display: block; cursor: pointer;}
#content #files li.small.no_photo{ background: #ebecec url(/templates/stp_person_cab/img/no-foto.jpg) center no-repeat;}

#files li a.del{ position: absolute; bottom: 0; left: 60px; color: #000;}
#files li.small a.del{ font-size: 9px; left: 20px; bottom: -2px;}
#files li a.del:hover{ background: #000; color: #fff;}
#files li{ margin: 0; padding: 0;}
#files li.small.no_photo {
background: #ebecec url(/templates/stp_person_cab/img/no-foto.jpg) center no-repeat;
}
#files li {
list-style: none;
background: #ebecec;
}
.info_top_corner{ padding: 11px; font-size: 14px; font-style: italic;}
table.s_add{ width: 100%; font-size: 13px;}
table.s_add td.right{ padding-left: 30px;}
table.s_add table td.right{padding-left: 10px;}
table.s_add table.info{ margin-left: 10px; width: 99%;}
table.s_add h1{ font-weight: bold; font-size: 14px; margin: 0px 0 5px 0; text-transform: uppercase;}

div.hr{ width: 100%; border-bottom: 1px dotted #000; margin: 5px 0;}
div.hr.hr2{ width: 97%; margin-top: 10px;}

div.all_ads { font-style: italic;}
#header{height: 338px; height: auto;}
.system_message{}
.img_cont{margin: 0 !important; }
#jc{margin-top: 20px;}

tr.selled td{text-decoration: line-through;}