<div><h2><?=$head?></h2></div>
<div>
<table cellpadding="5" cellspacing="0">
    <tr>
        <td valign="top" class="left" align="left">
            
                <table class="info" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="right" >Категория:</td><td class="right"><?=$cat_name?></td>
                    </tr>
                    <tr>    
                        <td align="right">Производитель:</td><td class="right"><?=$producer_name?></td>
                    </tr>
                    </tr><tr>    
                        <td align="right">Модель:</td><td class="right"><?=$model_name?></td>
                    </tr>
                    </tr>
                    <?php if ($ad_kindof == 'продам'){?>
                    <tr>    
                        <td align="right">Год выпуска:</td><td class="right"><?php echo ($moto_hour == '') ? '--' : $year  ?></td>
                    </tr>
                                       
                    </tr><tr>    
                        <td align="right"><?php echo ($razdel_id != CAT_ID_TRASPORT) ? WHAT_WORK_HOUR_LABEL : WHAT_WORK_HOUR_TRANSPORT_LABEL?></td>
                        <td class="right"><?=$moto_hour ? str_replace(',',' ',number_format($moto_hour)) : 'Новая'?></td>
                    </tr>
                    <?php }?>
                    <?php if ($ad_kindof == 'продам'){?>
                    <tr>    
                        <td align="right"><h3 style="margin-top: 8px;">Цена:</h3></td><td class="right"><h3 style="margin-top: 8px;"><?=str_replace(',',' ',number_format($cost1))?> Руб</h3></td>
                    </tr>
                    <?php }else{?>
                    </tr><tr>    
                        <td align="right"><h1 style="margin-top: 8px;">Цена за час:</h1></td><td class="right"><h1 style="margin-top: 8px;"><?=str_replace(',',' ',number_format($cost_hour))?> Руб</h1></td>
                    </tr>
                    </tr><tr>    
                        <td align="right"><h1>Цена за смену:</h1></td><td class="right"><h1><?=str_replace(',',' ',number_format($cost_smena))?> Руб</h1></td>
                    </tr>
                    <?php }?>                    
</table>

</div>