<div class="header"><span class="h"><a href="<?=str_replace('?alltop','',$_SERVER['REQUEST_URI'])?> ?alltop">Все ТОП объявления (<?=$num_top?>)</a><a name="alltop"></a></span>
</div>
<div class="all_top"><a class="up" href="#"></a><a class="down" href="#"></a>
    <table style="width: 100%;">
    <?php $i=1; for($j=0; $j<$num_top_p; $j++){ $r = $rows[$j];?> 
        <?php if ($i == 1 || $i%5 == 0){?> <tr><?php }?>
        <td align="center" ctd="<?=$j+1?>">
            <?php include "item.phtml"?>
        </td>
        <?php if ($i%4 == 0){?> </tr><?php }?>
    <?php $i++;}?>
    </table>
    <br class="clear" />
</div>
<!--all_top-->

<div id="hide_items_top" style="display: none;">
    <?php for($j = $i-1; $j<$num_top; $j++){ $r = $rows[$j];?>
        <?php include "item.phtml"?>
    <?php }?>
</div>
<!--hide_items_top-->

<script>
    function get_num_items(id){
        if (jQuery(id+' div.item').length)
            return jQuery(id+' div.item').length;
        else
            return false;    
    }
    
    function get_last_item_id(id){
        var j = 0;
        jQuery(id+' div.item').each(function(){
            if (1*jQuery(this).attr('item') > j)
                j = 1*jQuery(this).attr('item'); 
        });
        return j;
              
    }
    
    function move_open_part(direct){ // вырезаем все элементы в видимой части и перемещаем в невидимую
        num_item = get_num_items('.all_top');          // на сколько элементов сдвигаем ТОП
        
        if (direct == 'up'){
            for(i=1; i<=num_item; i++){
                item = jQuery('td[ctd="'+i+'"]').html();
                jQuery('td[ctd="'+i+'"]').html('');
                jQuery('#hide_items_top').html(jQuery('#hide_items_top').html()+item);
            }
            
            for(i=1; i<=num_item; i++){
                if (jQuery('#hide_items_top div.item:first').length){
                    j = jQuery('#hide_items_top div.item:first').attr('item');
                    html = jQuery('#hide_items_top div.item:first').remove();
                    jQuery('td[ctd="'+i+'"]').html('<div class="item item1" item="'+j+'">'+html.html()+'</div>');
                }
            }
        }
        else{
            for(i=num_item; i>=1; i--){
                item = jQuery('td[ctd="'+i+'"]').html();
                jQuery('td[ctd="'+i+'"]').html('');
                jQuery('#hide_items_top').html(item+jQuery('#hide_items_top').html());
            }
            
            for(i=num_item; i>=1; i--){
                if (jQuery('#hide_items_top div.item:last').length){
                    j = jQuery('#hide_items_top div.item:last').attr('item');
                    html = jQuery('#hide_items_top div.item:last').remove();
                    jQuery('td[ctd="'+i+'"]').html('<div class="item item1" item="'+j+'">'+html.html()+'</div>');
                }
            }
        }
    }
    
    jQuery('a.up, a.down').click(function(){
        num_h_item = get_num_items('#hide_items_top'); // кол-во элементов в скрытой части 
        
        if (num_h_item){ // есть скрытые элементы
            if (jQuery(this).hasClass('up'))
                move_open_part('up'); 
            else
                move_open_part('down');                   
                
        }
      
        //alert(get_num_items('#hide_items_top'));
        return false;
    });
    
    function change_items_top(item1, item2){ // меняем местами элементы ТОПа
        _html2 = false;
        _html1 = false;
        _html1_is_table = false;
        _html2_is_table = false;
        if (jQuery('td[ctd="'+item1+'"]').length){
            item1_obj = jQuery('td[ctd="'+item1+'"]');
            _html1 = item1_obj.html();
            _html1_is_table = true;
            //item1_obj.html('');
        }    
        else if(jQuery('#hide_items_top div.item[item="'+item1+'"]').length){
            item1_obj = jQuery('#hide_items_top div.item[item="'+item1+'"]');
            _html1 = item1_obj.remove();
            _html1 = '<div class="item item1" item="'+item1+'">'+_html1.html()+'</div>';
        }
        
        if (jQuery('td[ctd="'+item2+'"]').length){
            item2_obj = jQuery('td[ctd="'+item2+'"]');
            _html2 = item2_obj.html()+'</div>';
            _html2_is_table = true;
            //item2_obj.html('');
        }    
        else if(jQuery('#hide_items_top div.item[item="'+item2+'"]').length){
            item2_obj = jQuery('#hide_items_top div.item[item="'+item2+'"]');
            _html2 = item2_obj.remove();
            _html2 = '<div class="item item1" item="'+item2+'">'+_html2.html()+'</div>';
        }
                
        if (_html1 && _html2){            
            if (!_html1_is_table)
                jQuery('#hide_items_top').html(_html2+jQuery('#hide_items_top').html());
            else {  
                item1_obj.html(_html2); 
            }    
                
            if (!_html2_is_table)    
                jQuery('#hide_items_top').html(_html1+jQuery('#hide_items_top').html());
            else {  
                item2_obj.html(_html1);
            } 
            
            jQuery('div.item[item="'+item1+'"]').attr('item', item2); 
            jQuery('div.item[item="'+item2+'"]').attr('item', item1);      
        }
    }
    /*jQuery('.h a').click(function(){
        change_items_top(1, 2);
        return false;
    });*/
    
    num           = 12;
    num_show_item = get_num_items('.all_top');
    num_item      = num_show_item + get_num_items('#hide_items_top');
    
    
    if (num_item < num)
        num = num_item;
    
    /*for (i=1; i<num; i++){
        rnd1 = Math.floor(Math.random() * (num_show_item - 1)) + 1;
        rnd2 = Math.floor(Math.random() * (num - 1)) + 1;
        if (rnd1!=rnd2)
            change_items_top(rnd1, rnd2);
    }*/
</script>