<div class="header"><span class="h"><a href="<?=str_replace(array('?alltop', '?page=1'),'',$_SERVER['REQUEST_URI'])?>?alltop">Все ТОП объявления (<?=$num_top?>)</a><a name="alltop"></a></span>
</div>
<div class="all_top"><a class="up" href="#"></a><a class="down" href="#"></a>
    <table style="width: 100%;">
    <tr>
    <?php $i=1; for($j=0; $j<$num_top_p; $j++){ $r = $rows[$j];?> 
        <?php if (($i-1)%4 == 0){?> </tr><tr><?php }?>
        <td align="center" ctd="<?=$j+1?>">
            <?php include "item.phtml"?>
        </td>
    <?php $i++;}?>
    </tr>
    </table>
    <br class="clear" />
</div>
<!--all_top-->