<?php 
$small_img = $ads_manage->get_exist_thumb_image($r['images']);        
$width     = $small_img ? '162' : '';
$height    = $small_img ? '122' : '';
$class     = $small_img ? '' : 'nophoto';
$small_img = $small_img ? 'images/com_ads/'.$small_img : '/templates/stp_person_cab/img/no-foto.jpg';
$url       = $sef->set_ads($r['id'])->get_sef_url(); 
$info      = $category->get_category_info($r['catid']);
$prod_info = $category->get_producer_info($r['ad_producers']);
?>
    <div class="item item1" item="<?=$j+1?>" onclick="location.href='<?=$url?>'">
        <div style="width: 100%; text-align: center;"><img src="<?=$small_img?>" width="<?=$width?>" height="<?=$height?>" class="<?=$class?>"/></div>
		<div class="descr">
            <span class="cost"><?=$r['ad_price'] ? str_replace(',',' ',number_format($r['ad_price'])).' </span>Руб' : '--</span>'?>
            <span class="right"><?php echo ($r['ad_year'] == 'Выбрать') ? '' : $r['ad_year'].' г'  ?> </span>
            <br class="clear" /><!--<span class="city">г. <?=$city->get_city_by_id($r['ad_city'])?></span>-->
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr><td valign="middle" align="center" height="30"><span style="font-size: 12px; text-transform: uppercase;"><?php echo $prod_info[0]['producer'];?></span></td></tr>
            </table>
            
            <span class="category">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr><td valign="middle" align="center" height="20"><a href="<?=$url?>" class="link"><?=$r['ad_model']?></a></td></tr>
                    <tr><td valign="middle" align="center" height="20"><span style="font-size: 11px;"><?php echo $info[0]['name'];  ?></span></td></tr>
                </table>
                 
            </span>
		</div>
	</div>