<!--header-->
<div class="link_sell_rent">
	<table style="width: 100%;" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td width="50%"><a href="<?=$sell?>" class="sell <?=$class_sell?>"><span>ПРОДАЖА</span></a>
				</td>
				<td style="width: 2px;"></td>
				<td><a href="<?=$rent?>" class="rent <?=$class_rent?>"><span>АРЕНДА</span></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!--link_bay_sell-->
<div class="search">
    <form method="get" action="<?=$url?>"> 
    	<div class="block1">
            <?=$list_region?>
            
            <select class="search_city" <?=$disabled_city?> ><option><?=SELECT_CITY?></option></select>
            <?=$list_category?> <?=$list_sub_category?> <input type="submit" class="search_panel" value="Искать" /><br />
            
        </div>
        <div class="block2">
            <select name="search_producer" disabled><option><?=SELECT_PRODUCER?></option></select>
            Цена: <i>от</i><input name="search_price_1" type="text" value="<?=$s_price1?>" /><i>до</i><input type="text" value="<?=$s_price2?>" name="search_price_2" />
            <span class="motohour" <?=isset($_GET['rent']) ? 'style="display:none;"' : ""?>> 
            <span><?=$label_motoh?></span>: 
                <?=$select_motoh_min?>
                <?=$select_motoh_max?>
            </span>
            <div class="new_old comp_foto">Только компании: <input type="checkbox" class="superstyle style_small" name="search_company" <?=($search_company == 'on') ? 'checked':''?> />    
        	
            </div>
        </div>
    	<div class="block2">
            <input name="search_model" type="text" value="<?=$value_model?>" />
    		<span class="year" <?=isset($_GET['rent']) ? 'style="display:none;"' : ""?>> 
            Год выпуска: <?=$select_ymin?> 
                         <?=$select_ymax?> 
                         
            </span>
            <div class="new_old">
              <span <?=isset($_GET['rent']) ? 'style="display:none;"' : ""?>> 
                Только новая: <input type="checkbox" class="superstyle style_small" name="new" <?=isset($_GET['new']) ? 'checked':''?> />
              </span> 
            <span class="only_photo">Только с фото: <input type="checkbox" class="superstyle style_small" name="search_photo" <?=($s_photo == 'on') ? 'checked':''?>/></span>
    		</div>
     
    	</div>

        <?=isset($_GET['rent']) ? '<input type="hidden" name="rent" />':''?>
        <input type="hidden" id="razdel" value="<?=$razdel_id?>" />
        <input type="hidden" id="cat_id" value="<?=$cat_id_1?>" />
        <input type="hidden" id="sub_cat_id" value="<?=$cat_id_2?>" />
    </form>
</div>
<!--search-->
<div class="line">&nbsp;</div>