<table cellpadding="0" cellspacing="0" class="t_form_add_ads" width="100%" style="min-width: 815px;">
    <tr>
        <td valign="top">
            <div class="img_cont">
                <ul id="files" >
                    <li class="<?php if ($main_img == '') { ?>no_photo<?php } ?> main"><?= $main_img ?></li>
                    <?php for ($i = 0; $i < (MAX_PHOTO_ITEMS - 1); $i++) { ?>
                        <li class="<?php if (!isset($arr_img[$i])) { ?>no_photo<?php } ?> small <?php if ($i % 2) { ?> right<?php } ?>"><?= isset($arr_img[$i]) ? $arr_img[$i] : '' ?></li>
                    <?php } ?>
                </ul>
            </div>
            <span id="status" ></span>
        </td>
        <td valign="top" width="529">
            <form class="form_add_ads" method="POST" id="form_add_ads">
                <?php
                echo $head;

                echo $btn_load
                ?>

                <div class="block_in info" style="color: #cc0000;"><i><?php echo sprintf(MESSAGE_WRONG_IMAGE_FORMAT, MAX_FILE_SIZE, MAX_WIDTH) ?></i></div>
                <?php
                echo $list_category;
                echo $list_sub_category;
                echo $list_producer;
                ?>

                <?php
                echo $np_label;
                echo $new_producer;
                echo $np_text;
                echo $model;
                ?>

                <div class="block_before_category"> 
                    <div class="left radiobox">
                        <?php
                        echo $rent_checkbox;
                        echo $sell_checkbox;
                        ?>                 
                    </div>
                    <div style="position:relative;">    
                        <div id="cost_sell">
                            <?php
                            echo $cost_sell;
                            ?>
                        </div>  

                        <div id="cost_rent">
                            <?php
                            echo $cost_rent;
                            ?>
                            <?php
                            echo $cost_rent2;
                            ?>
                        </div> 
                        <div style="position:absolute; top:0; right: 0; z-index: 50;"><?=$indogovor?></div>
                    </div> 
                    <hr />
                    <br />  

                    <div class="left radiobox new_bu <?php echo $hide1 ?>">
                        <?php
                        echo $radiobox_new;
                        echo $radiobox_bu;
                        ?>
                    </div>
                    <div id="moto_hour" class="<?php echo $hide1 ?> group_2">
                        <?php
                        echo $motoh;
                        echo $probeg;
                        ?>
                    </div> 
                    <?php
                    echo $year_field;
                    echo $region_field;
                    ?>
                    <?php
                    echo $city_field;
                    echo $comment_field;
                    ?> 
                    <div class="grippie"><span class="counter">Осталось: <span>500</span> символов</span></div>
                    <br style="clear:both;">

                    <div class="block_in left radiobox status">
                        <span style="font-size: 13px;">Статус объявления:<label></label></span>
                        <?php
                        echo $status_active_field;
                        echo $status_passive_field;
                        ?>

                        <span style="display: inline-block; width: 80px; height: 20px;"></span>
                    </div>
                    <!--<div class="block_in">
                       <a href="#"><?= LINK_ADS_MAKE_UP ?></a> »<a href="#"><?= LINK_ADS_MAKE_TOP ?></a> »<a href="#"><?= LINK_ADS_MAKE_SPECIAL ?></a> »
                    </div>-->
                </div>
                <div class="block_in submit">
                    <?php
                    echo $submit_btn;
                    echo $delete_btn;
                    ?>
                </div>
                <input type="hidden" name="user_id" value="<?php echo $user_id; ?>" />
                <input type="hidden" name="images" value="" />
                <input type="hidden" name="ads_id" value="<?= $ads_id ?>" />
                <?php if($isAdmin){?>
                <input type="hidden" name="u_attr" value="<?=md5('is_admin')?>"/>
                <?php }?>
            </form>
        </td>
    </tr>
</table>
<script>
function answer_delete(ads_id){ 
    return confirm("Ваше объявление №"+ads_id+" будет удалено безвозвратно. Подтвердите действие."); 
}
<?php if ($ads_id){?>
    jQuery('input[type="reset"]').click(function(){
        ads_id = '<?=$ads_id?>';
        if (answer_delete(ads_id)){
            document.location.href = '<?=JRoute::_(URL_MY_ADS)?>?action=del&ads='+ads_id;
        }    
    });
<?php }?>    
</script>