.t_form_add_ads, .t_form_add_ads input{ font-size: 11px;}
.img_cont{ width: 351px; margin-right: 10px;}
.t_form_add_ads input[type="text"], .t_form_add_ads select{ width: 300px; height: 12px;}
.t_form_add_ads select{ height: 18px; font-size: 11px; width: 305px; font-style: italic;}
.t_form_add_ads textarea{ font-size: 11px; width: 299px; height: 275px;}
.form_add_ads{ text-align: right; display: block;}
.form_add_ads label{ padding-right: 15px; font-size: 13px;}
.form_add_ads .radiobox label{ font-size: 11px;}
.form_add_ads div.block_in{ margin-bottom: 0px; position: relative; margin-bottom: 7px;}
.form_add_ads div.block_in.left{ text-align: right; padding-right: 229px; display: block;}
.form_add_ads div.block_in.year select, .form_add_ads div.block_in.moto select{ width: 76px; }
.form_add_ads div.block_in.year{clear: both;}
.form_add_ads div.block_in.cost input{ width: 76px;}
.form_add_ads div.block_in.moto input{width: 76px;}
.form_add_ads div.block_in.moto{ padding-right: 225px; margin-left: 0px; text-align: right; }
.form_add_ads div.block_in.cost { padding-right: 225px; text-align: right;}
.form_add_ads div.block_in.cost1 { padding-left: 11px;}
.form_add_ads div.block_in.cost2 { padding-left: 27px; }
.form_add_ads div.left.new_bu { padding-right: 182px; }
.form_add_ads div.left.status { padding-right: 50px; }
.form_add_ads div.block_in.status { margin-left: -43px;}
.form_add_ads div.block_in.upload { position: relative; right: 233px;}
.form_add_ads div.block_in.info { position: relative; right: 130px;}
.form_add_ads div.block_in.info.info1{right: 0;}
.form_add_ads div.block_in.comment label{ position: absolute; top:0; right: 305px;}
.form_add_ads div.left{ text-align: right; padding-right: 165px; margin-bottom: 7px;}
.form_add_ads hr{ border: 0; border-bottom: 1px dashed; width: 410px; float: right; }
#content .block_in a{ margin-left: 10px; color:#000; font-size: 11px; font-style: italic; text-decoration: underline;}
#content .block_in a:hover{ text-decoration: none;}
.form_add_ads div.block_in.submit{ text-align: right; margin-top: 10px; padding-right: 217px;}
.form_add_ads div.block_in.hide{ display: none;}
.form_add_ads div.new_bu.hide{ display: none;}
#moto_hour.hide div.block_in.left.moto{ display: none;}
#files li.main{ width: 350px; min-height: 255px; display: block;  border: 1px solid #999999; padding: 0;}
#files li{ position: relative;}
#content #files{ padding: 0;}
#files li.main img{ width: 350px; min-height: 255px; margin: 0px auto; display: block;}
#content #files li{ list-style: none; background: #ebecec;}
#files li.small{ width: 165px; height: 124px; display: block;  padding: 0; float: left; margin-top: 18px; border: 1px solid #999999;}
#files li.small.right{ float: right;}
#files li.small img{ max-width: 165px; height: 124px; margin: 0px auto; display: block; cursor: pointer;}
#content #files li.small.no_photo{ background: #ebecec url(/templates/stp_person_cab/img/no-foto.jpg) center no-repeat;}

#files li a.del{ position: absolute; bottom: 0px; right: 0px; color: #414042; font-size: 11px; font-style: italic; background: #fecc00; height: 19px; padding: 0 5px; line-height: 19px; text-decoration: none;}

#files li.small a.del{ bottom: 0px; right: 0px;}
.form_add_ads input.red, .form_add_ads select.red{ border: 1px dashed red;}

.form_add_ads input[type="submit"]{ margin-right: 10px;}

.form_add_ads input#upload{color: #414042; background: #fecc00; border: 1px solid #fecc00; font-style: italic;}
.form_add_ads input#upload:hover{ cursor: pointer;}
#new_producer[type="text"]{padding-right: 50px; width: 250px;}

.grippie{
height: 13px;
display: block;
overflow: hidden;
color: #ccc;
padding: 0;
margin: 0;
border: 1px solid #ddd;
border-top-width: 0;
max-width: 303px !important;
width: 303px;
background: #eee;
text-align: left;
float: right;
margin-top: -9px;
}

.grippie .counter{
color: #777;
font: normal 1em Verdana, Arial, Sans-Serif;
text-align: left;
text-decoration: none;
text-transform: none;
text-indent: 0;
}